body {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
 }
 header {
     justify-content: space-around;
     width: 100%;
     max-width: 1200px;
     display:grid;
     grid-template-columns: minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%) minmax(100px, 20%);
     grid-template-rows: 56px;
  }
  span{
      text-transform: uppercase;
  }
 .header-item {
     text-transform: uppercase;
     word-wrap: none;
     text-align: center;
 }
 .column_1 {
     grid-column: 1;
 }
 .column_2 {
     grid-column: 2;
 }
 .column_3 {
     grid-column: 3;
 }
 .column_4 {
     grid-column: 4;
 }
 .column_5 {
     grid-column: 5;
 }
 .header-logo {
     display: flex;
     justify-content: center;
 }
 .header-logo > img {
     display: flex;
     position: absolute;
     z-index: 2;
 }
 .header-item> span {   
     text-align: center;
     height: 11px;
     font-family: PTSans;
     font-size: 14px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.86;
     letter-spacing: normal;
     text-align: center;
     color:#000000;
 }
 .content{
     display: flex;
     flex-direction: column;
 }
 .content__intro {
     display: flex;
     position: relative;
     text-align: center;
 }
 .content__intro-back {
     width: 100%;
     height: auto;
 }
 .content__intro-text {
     position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 .content__intro-bottom {
     position: absolute;
     bottom: 0%;
     left: 50%;
     transform: translate(-50%, 0%);
 }
 .content__info {
     justify-content: center;
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 .content__info-title {
     height: 100px;
 }
 .content__info-title > span {
     text-align: center;
     text-transform: uppercase;
    
     font-family: PTSans;
     font-size: 21px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.24;
     letter-spacing: normal;
     color: #000000;
     margin-top: 20px;
 }
 .content__info-title :last-child {
     
     font-size: 14px;
     font-weight: normal;
     color: #333333;
 }
 .content__info-grid {
     display:grid;
     margin-top: 55px;
     grid-template-columns: 400px 400px 400px;
     grid-template-rows: auto auto auto auto;
 }
 .f1 {
     grid-column: 1;
     grid-row: 1;
     width: 400px;
     height: 256px;
     align-items: center;
     display: flex;
     text-transform: uppercase;
     vertical-align: center;
     justify-content: center;
     flex-direction: column;
     background-color: #81b3d2;
 }
 .f1-title {
     width: 265px;
     height: 140px;
     font-family: PTSans;
     font-size: 21px;
     font-weight: bold;
   line-height: 1.24;
   
    
     font-style: normal;
     font-stretch: normal;
    letter-spacing: normal;
     text-align: center;
     color: #ffffff;
 }
 .f1-title-mini {
     font-size: 14px; 
     font-weight: normal;
     line-height: 1.5;
    
 }
 .f2 {
     grid-row: 1;
     grid-column-start: 2;
     grid-column-end: span 2;
 }
 .g1 {
     grid-row: 2;
     grid-column: 1;
 }
 .g2 {
     grid-row: 2;
     grid-column: 2;
 }
 .g3 {
     grid-row: 2;
     grid-column: 3;
 }
 .image {
     display: flex;
     flex-direction: column;
     align-items: center;
     text-transform: uppercase;
     height: 330px;
     justify-content: center;
 }
 .image-title {
     margin-top: 32px;
     font-size: 21px;
     font-weight: bold;
     line-height: 1.24;
     color: #000000;
 }
 .image-content {
     margin-top: 20px;
     height: 81px;
     font-family: PTSans;
     font-size: 14px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.5;
     letter-spacing: normal;
     text-align: center;
     color: #333333;
 }
 
 .h2 {
     grid-column: 3;
     grid-row: 3;
     width: 400px;
     height: 256px;
     align-items: center;
     display: flex;
     text-transform: uppercase;
     vertical-align: center;
     justify-content: center;
     flex-direction: column;
     background-color: #81b3d2;
 }
 .h2-title {
     justify-content: center;
     width: 265px;
     height: 140px;
     font-family: PTSans;
     font-size: 21px;
     font-weight: bold;
   line-height: 1.24;
   
    
     font-style: normal;
     font-stretch: normal;
    letter-spacing: normal;
     text-align: center;
     color: #ffffff;
 }
 .h2-title-mini {
     font-size: 14px; 
     font-weight: normal;
     line-height: 1.5;
    
 }
 .h1 {
     grid-column-start: 1;
     grid-column-end: span 3;
     grid-row: 3;
 }
 .j1{
     width: 400px;
     height: 256px;
     justify-content: center;
     grid-row: 4;
     color: #333333;
 display: flex;
 flex-direction: column;
     grid-column: 1;
 }
 
 .j2{
     width: 400px;
     height: 256px;
     justify-content: center;
     grid-row: 4;
     
     color: #333333;
 display: flex;
 flex-direction: column;
     grid-row: 4;
     grid-column: 2;
 }
 .j3{ width: 400px;
     height: 256px;
     justify-content: center;
     grid-row: 4;
     color: #333333;
 display: flex;
 flex-direction: column;
     grid-row: 4;
     grid-column: 3;
 }
 .feedback {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .feedback-title{
     font-size: 30px;
     font-weight: bold;
     line-height: 0.87;
     color: #000000;
 }
 .feedback-title__content {
     width: 434px;
     height: 98px;
     font-family: PTSans;
     font-size: 14px;
     font-weight: normal;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.71;
     letter-spacing: normal;
     text-align: center;
     color: #333333;
 }
 .button{
     width: 458px;
   height: 58px;
   background-color: #81b3d2;
   justify-content: center;
   align-items: center;
   display:flex;
 
 }
 .button-title {
     font-family: PTSans;
     font-size: 21px;
     font-weight: bold;
     font-style: normal;
     font-stretch: normal;
     line-height: 1.24;
     letter-spacing: normal;
     text-align: center;
     color: #ffffff;
 }
 .map-container{
     position: relative;
 }
 .location {
     position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }
 footer {
     display: flex;
     justify-content: space-around;
     width: 1200px;
 }
 .footer-item { 
     display: flex;
     text-transform: uppercase;
     word-wrap: none;
     align-items: center;
 }
 .footer-item > div {
     width: 46px;
     height: 48px;
     background-color: #81b3d2;
     display: flex;
     justify-content: center;
     margin-right: 6px;
 }
 .footer-item > span {
     margin-right: 11px;
 }
 .footer-item> div:last-child {
     margin-right: 0px;
 }