@width: 1200px;
@columnWidht: @width/3;
@rowHeight: 256px;
@black: #000000;
@gray: #333333;
@back: #81b3d2;
@white: #ffffff;
@lightGray : #eeeeee;

a {
    text-transform: uppercase;
    color: @black;
    &:hover {
        color: @gray;
    }
}

span,
h2,
p,
figcaption {
    font-family: 'PT Sans';
    text-transform: uppercase;
}

h2 {
    font-size: 21px;
}

p,figcaption {
    font-size: 14px;
}

.items {
    list-style-type: none;
    width: 100%;
    margin: 0px;
    padding-inline-start: 0px;
    &-item{
        float: left;
        display: flex;
        flex-direction: column;
        width: 400px;
        margin-top: 60px;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        &-light {
            &:extend(.items-item);
            background-color: @lightGray;
            color: @black;
        }
    }
}

.body {
    background: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    justify-content: space-around;
    width: 100%;
    max-width: @width;
    display: flex;
    height: 56px;
}

.nav {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.header-link {
    width: @width/5;
    font-family: 'PT Sans';
    text-decoration: none;
    justify-content: center;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.86;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header-logo {
    width: @width/5;
    &::before {
        content: url(./images/logotype-desktop.svg.svg);
        z-index: 1;
        position: relative;
        display: flex;
        justify-content: center;
    }
}

.intro {
    display: flex;
    position: relative;
    text-align: center;
    &-back {
        width: 100%;
        height: auto;
    }
    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    &-bottom {
        position: absolute;
        bottom: 0%;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

.content {
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    &-title {
        display: flex;
        flex-direction: column;
        margin-bottom: 50px;
        &>h2 {
            text-align: center;
            font-weight: bold;
            line-height: 1.24;
            color: @black;
        }
        &>p {
            margin-top: 40px;
            font-weight: normal;
            color: @gray;
        }
    }
}

.content-items {
    display: flex;
    flex-direction: column;
}

.info {
    display: flex;
    width: 100%;
    flex-direction: row;
    height: @rowHeight;
    float: left;    
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    margin-block-start: 0em;
    margin-block-end: 0em;
}

.info-item {
    background-color: @back;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 400px;
    color: @white;
    &-light {
        &:extend(.info-item);
        background-color: @lightGray;
        color: @black;
    }
}

.info-title {
    font-weight: bold;
    line-height: 1.24;
    text-align: center;
    &-light {
        &:extend(.info-title);
        color: @black;
    }
}

.info-title-mini {
    text-align: center;
    font-size: 14px;
    line-height: 1.5;
    &-light {
        &:extend(.info-title-mini);
        color: @gray;
    }
}

.image {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
    justify-content: center;
    &-title {
        margin-top: 32px;
        font-weight: bold;
        line-height: 1.24;
        color: @black;
        display: flex;
        justify-content: center;
    }
    &-content {
        margin-top: 20px;
        height: 80px;
        line-height: 1.5;
        text-align: center;
        color: @gray;
    }
}

.feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 290px;
    &-title {
        font-size: 30px;
        font-weight: bold;
        line-height: 0.87;
        color: @black;
        &__content {
            width: 434px;
            height: 98px;
            line-height: 1.71;
            text-align: center;
            color: @gray;
        }
    }
}

.button {
    width: 458px;
    height: 58px;
    background-color: @back;
    position: relative;
    border: none;
    font-size: 21px;
    text-transform: uppercase;
    line-height: 1.24;
    text-align: center;
    color: @white;
    text-align: center;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.map {
   &-container {
    margin-top: 20px;
    margin-bottom: 40px;
    display: flex;
    position: relative;
    text-align: center;
   }
    &-location {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: @width;
    margin-top: 20px;
}

.socials {
    display: flex;
    flex-direction: row;
}

.social {
    background-color: @back;
    width: 48px;
    height: 48px;
    display: block;
    &::after {
        content: '';
        display: inline-block;
        margin: 35%;
    }
}

.twitter {
    margin-right: 5px;
    &::after {
        content: url(./images/icon-twitter.svg.svg);
    }
}

.facebook {
    margin-right: 5px;
    &::after {
        content: url(./images/icon-facebook.svg.svg);
    }
}

.youtube {
    &::after {
        content: url(./images/icon-youtube.svg.svg);
    }
}

.logo {
    position: relative;

    &::after {
        position: absolute;
        top: 60%;
        left: 80%;
        transform: translate(-50%, -50%);
        content: url(./images/htmlacademy.svg.svg);
    }
}