.button {
  .reset-spaces();
  .title(@font-size-bigger2, @light-color);
  .btn-colors();
  display: block;
  height: 58px;
  line-height: 58px;
  outline: none;
  border: none;
  margin: 30px auto;
  margin-bottom: 0;
  width: 100%;
  @media @tablet-widths {
    width: 50%;
  }
}