@img-path: "../images";
/*MEDIA */

@mobile-min-width: e("(max-width: 320px)");
@mobile-widths: e("(max-width: 767px)");
@tablet-widths: e("(min-width: 768px)");
@desktop-widths: e("(min-width: 1280px)");
@base-font-family: "PT Sans",
Arial,
sans-serif;
@base-font-size: 14px;
@width: 1200px;
@columnWidht: @width/3;
@rowHeight: 256px;
@black: #000000;
@gray: #333333;
@back: #81b3d2;
@white: #ffffff;
@lightGray : #eeeeee;