body {
   background: transparent
}
header {
    display: flex;
    justify-content: space-around;
    width: 1200px;
 }
.header-item {
    text-transform: uppercase;
    word-wrap: none;
    width: 239px;
    height: 56px;
}
.header-logo {
    width: 244px;
    height: 56px;
    display: flex;
    justify-content: center;
}
.header-item> span {
    height: 11px;
  font-family: PTSans;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.86;
  letter-spacing: normal;
  text-align: center;
  color:#000000;
}
.header-item.img {
    display: flex;
    position: absolute;
    margin-top: 0%;
    width: 187px;
    height: 96px;
    background: red
}
footer {
    display: flex;
    justify-content: space-around;
    width: 1200px;
}
.footer-item { 
    display: flex;
    text-transform: uppercase;
    word-wrap: none;
    align-items: center;
}
.images{
    background: red;
}
.images::before {
    content: "♥";
    height: 100px;
    width: 100px;
    background: green;
  }